{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@components": "./src/client/components",
          "@pages": "./src/client/pages",
          "@utils": "./src/utils",
          "@styles": "./src/client/assets/styles",
          "@client": "./src/client"
        }
      }
    ]
  ]
}
