$colorized-classes: 'bg', 'text', 'border';

$classes-properties-matcher: (bg: background-color, text: color, border: border-color);


@each $color in $theme-colors {
  @each $class, $property in $classes-properties-matcher {
    .#{$class}--#{$color} {
      @include within-theme($themes) {
        #{$property}: with-theme($color);
      }
    }
  }
}


.main-background {
  @include append-theme($themes) {
    background: linear-gradient(with-theme(background-gradient));
    min-height: 100%;

  }
}

