$primary-halloween-color: rgb(255, 110, 49);
$secondary-halloween-color: rgb(84, 3, 117);
$accent-halloween-color: rgb(255, 255, 255);
$content-halloween-color: rgb(255, 255, 255);
$background-halloween-gradient: 180deg, #FF6E31 0%, rgba(255, 110, 49, 0.76) 100%;


$primary-christmas-color: rgb(235, 69, 95);
$secondary-christmas-color: rgb(43, 52, 103);
$accent-christmas-color: rgb(201, 235, 242);
$content-christmas-color: rgb(255, 255, 255);
$background-christmas-gradient: 180deg, #EB454F 0%, #FF8E8E 100%;


$themes: (
        christmas: (
                primary:$primary-christmas-color,
                secondary:$secondary-christmas-color,
                accent:$accent-christmas-color,
                content:$content-christmas-color,
                background-gradient:$background-christmas-gradient,
        ),
        halloween: (
                primary:$primary-halloween-color,
                secondary:$secondary-halloween-color,
                accent:$accent-halloween-color,
                content:$content-halloween-color,
                background-gradient:$background-halloween-gradient,
        ),
);

$theme-colors: ('primary', 'secondary', 'accent', 'content');
