$themes: (
        christmas: (
                primary:$primary-christmas-color,
                secondary:$secondary-christmas-color,
                accent:$accent-christmas-color,
                content:$content-christmas-color,
                background-gradient:$background-christmas-gradient,
        ),
        halloween: (
                primary:$primary-halloween-color,
                secondary:$secondary-halloween-color,
                accent:$accent-halloween-color,
                content:$content-halloween-color,
                background-gradient:$background-halloween-gradient,
        ),
);

$colors: 'primary', 'secondary', 'accent', 'content';
