$themes: (
        christmas: (
                background:$background-christmas-color,
                primary:$primary-christmas-color,
                secondary:$secondary-christmas-color,
                accent:$accent-christmas-color,
                text:$text-christmas-color,
                background-gradient:$background-christmas-gradient,
        ),
        halloween: (
                background:$background-halloween-color,
                primary:$primary-halloween-color,
                secondary:$secondary-halloween-color,
                accent:$accent-halloween-color,
                text:$text-halloween-color,
                background-gradient:$background-halloween-gradient,
        ),
);

